{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  
  "overrides": [
    {
      "files": "*.json, *.astro",
      "options": {
        "printWidth": 120,
        "parser": "astro"
      }
    }
  ]
}
