---
import MainLayout from '@layouts/main.astro'
---

<MainLayout title='Experience'>
	<main 
		class="w-auto h-auto flex flex-col flex-grow mx-auto gap-y-10 md:gap-y-16 lg:gap-y-20 
		justify-center items-center align-middle transition-all 
		duration-100 ease-in-out text-white"
	>
        <h1 class="text-termina-heavy font-black text-2xl">
            Experience
        </h1>
    </main>
</MainLayout>