---

interface Props {
  number: number;
  title: string;
  link: string;
}

// Get the data
const { number, title, link } = Astro.props

console.log(number, title, link)

import '@styles/glass.button.css'

---

<a
  id={`link-${number}`}
  class="relative block overflow-hidden m-[1rem] w-[240px] h-[120px] border-[4px] border-solid border-slate-500/60
  rounded-[24px] cursor-pointer hover:-translate-x-2 hover:-translate-y-2 transition-all transform-gpu duration-200 ease-in-out"
  href={link}
>
  <div class="absolute flex flex-col top-4 left-4 right-0 my-auto z-50">
    <p class="text-2xl font-bricolage font-black">
      0{number}
    </p>
    <p class="text-2xl font-bricolage font-medium ">
      {title}
    </p>
  </div>
  <div class="w-[100%] h-[100%] bg-slate-700/60 bg-cover bg-no-repeat bg-center opacity-70 sepia-0" />
  <div class="glass" />
</a>