---
/// Astro Props
interface Props {
  image: string,
  title: string,
  href?: string,
  tags?: Array<number>,
}

import { LIST_TAGS } from '@hooks/consts.ts'
import '@styles/card.css'

/// Get the article element information
const { image, title, href, tags } = Astro.props

/// Get the tags
const filteredTags = LIST_TAGS.filter((tag) => tags?.includes(tag.id))?.sort((a, b) => a.id - b.id)

---

<article 
  class="frame cursor-pointer hover:-translate-x-2 hover:-translate-y-2 transition-all
  transform-gpu duration-200 ease-in-out"
>
  <div class="absolute flex flex-col bottom-8 left-6 gap-y-4 z-50">
    <h1 class="text-4xl font-bricolage font-bold ">
      {title}
    </h1>
    <ul class="inline-flex flex-wrap w-full gap-2 justify-start items-center align-middle">
      {filteredTags?.map((tag) => (
        <li class="flex capitalize text-sm font-bricolage p-[0.5px] px-2 border rounded-xl font-semibold">
          {tag.title}
        </li>
      ))}
    </ul>
  </div>
  <img 
    class={`w-[100%] h-[100%] bg-cover bg-no-repeat bg-center opacity-70 sepia-0`} 
    src={image} 
    alt={title} 
  />
  <div class="glass" />
</article>