---
/// import HeaderLink from '../HeaderLink.astro';
import ToggleMenuButton from './toggle.astro';
import Logo from '@components/navigation/icon.astro';
---

<header 
	id="container-header"
	class="w-[85%] max-w-screen-xl h-auto flex flex-row fixed top-0 left-0 right-0 gap-x-24
	justify-center items-center align-middle m-auto transition-all duration-100 ease-in-out 
	py-8 z-10"
>
	<nav 
		class="w-auto h-auto inline-flex flex-grow mx-auto gap-x-6 justify-between items-center 
		align-middle transition-all duration-100 ease-in-out"
	>
		<div 
			id="separator" 
			class="w-[40px] h-[7px] lg:block hidden bg-slate-700/80 rounded-full" 
		/>
		<Logo class=" w-[80px] h-auto justify-center items-center align-middle" />
		<div 
			id="separator" 
			class="w-[100%] h-[7px] bg-slate-700/80 rounded-full" 
		/>
		<ToggleMenuButton />
		<div 
			id="separator" 
			class="w-[40px] h-[7px] lg:block hidden bg-slate-700/80 rounded-full" 
		/>
	</nav>
</h>