---
/// Layouts
import MainLayout from '@layouts/main.astro'

/// Sections
import SaluteSection from '@components/section/salute.astro'
import AboutSection from '@components/section/about.astro'
import ProjectsSection from '@components/section/projects.astro'
import SkillsSection from '@components/section/skills.astro'

---
<MainLayout>
	<main 
		class="w-[90%] h-auto max-w-screen-xl flex flex-col mx-auto py-8 md:py-12 lg:py-16 
		gap-y-10 md:gap-y-16 lg:gap-y-20 justify-center items-center align-middle transition-all 
		duration-100 ease-in-out text-white"
	>
		<SaluteSection client:visible />
		<AboutSection client:visible />
		<ProjectsSection client:visible />
		<SkillsSection client:visible />
	</main>
</MainLayout>

<style is:global>

	#ordered-list {
		@apply w-[100%] h-auto flex flex-col flex-wrap justify-center items-center align-middle 
		transition-all duration-100 ease-in-out;
	}

	#tags-ordered-list {
		@apply w-auto h-auto inline-flex gap-2 flex-wrap justify-end 
		items-center align-middle transition-all duration-100 ease-in-out pl-[40%];
	}

	#tags-ordered-list li {
		@apply w-auto h-auto inline-flex p-[2px] px-4 rounded-full justify-center items-center 
		align-middle transition-all duration-100 ease-in-out;
	}
</style>