---
/// Component Imports
import LogoComponent from '@components/logo.astro'
---

<a 
	id="page-name"
	class="w-auto h-auto font-bold transform transition-all duration-200 ease-in-out"
	href="/"
>
	<LogoComponent class="w-[40px] sm:w-[50px] md:w-[55px] lg:w-[60px] h-auto justify-center items-center stroke-black dark:stroke-white stroke-[28] transition-all duration-200 ease-in-out transform" />
</a>