---
import Logo from "@components/logo.astro"
let year = new Date().getFullYear();
---

<footer class="container w-full h-auto flex py-12 bg-light dark:bg-dark justify-center items-center align-middle z-10">
    <section class="w-full max-w-screen-xl mx-auto flex flex-col gap-y-4 md:gap-y-6 lg:gap-y-18 justify-center items-center align-middle transition-all duration-200 ease-in-out">
        <Logo 
            id="maopa-logo"
            class="flex w-16 lg:w-20 h-auto aspect-square stroke-black/30 dark:stroke-slate-500 stroke-[32]"
        />
        <h1
            id="astro-build"
            class="inline-flex gap-y-4 md:gap-y-6 lg:gap-y-18 justify-center items-center align-middle transition-all duration-200 ease-in-out text-dark dark:text-slate-500 text-[14px] md:text-[14.5px] lg:text-[15px] font-bold"
        >
            Build with Astro
        </h1>
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © { year } ~maopadev All Rights Reserved.
        </span>
    </section>
</footer>
