---
import { ROUTES } from '@hooks/consts.ts';
---

<nav 
    class="hidden w-[41%] h-auto mx-auto lg:flex flex-col left-0 top-0 justify-start items-start 
    align-middle z-10 py-44"
>
    <ul class=" fixed flex flex-col justify-start items-start gap-y-4">
        { ROUTES.map((route) => (
            <a 
                href={route.path}
                class="w-auto h-auto inline-flex text-2xl font-bold text-gray-700 hover:text-accent-one 
                gap-x-4 justify-center items-center align-middle transition-all duration-300 ease-in-out"
            >
                {route.id}
                <separtor 
                    class="w-[140px] h-[4px] bg-gray-700 rounded-full transition-all duration-300 
                    ease-in-out" 
                />
                {route.title}
            </a>
        ))}
    </ul>
</nav>