<!-- Background Component -->
<div
	id="background"
	class="w-full h-[180%] md:h-[140%] lg:h-full absolute flex overflow-hidden -pt-12 md:-pt-24 lg:-pt-32 left-0 right-0 bg-cover bg-no-repeat rounded-b-3xl justify-center items-center align-middle -z-10 transition-all duration-100 ease-in-out"
>
	<svg 
        width="900" height="900" 
        viewBox="0 0 900 900" 
        fill="none" 
        xmlns="http://www.w3.org/2000/svg"
        class="w-full h-auto stroke-yellow-300/10 dark:stroke-[#080808] stroke-[120]" 
    >
        <path 
            d="M19.102 310.056L825 19.5L52.8314 502.916L1213.5 19.5L57.9058 736.797L1410.5 209L240.244 896.195L1322.5 502.916L258.502 1140.3"
            stroke-linecap="round" stroke-linejoin="round"
        />
    </svg>
</div>
    