---

/// Components Imports
import Background from "@/components/islands/salute/background.astro"
import DataWelcomeComponent from "@/components/islands/salute/text.astro"
import TagsWelcomeComponent from "@/components/islands/salute/tags.astro"

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"

// Get locale selected
const { currentLocale } = Astro
const { SALUTE } = getHomeDataInternational({ currentLocale })

---

<section 
	id="salute"
	class="w-full h-[95vh] flex mx-auto justify-center items-center align-middle rounded-b-[48px] bg-light dark:bg-slate-700/30 text-black dark:text-white backdrop-blur-xl transition-all duration-100 ease-in-out"
>
	<div 
		id="content" 
		class="container w-full max-w-screen-2xl flex flex-col h-full mx-auto py-20 lg:py-14 justify-center items-center align-middle gap-y-12"
	>
		<DataWelcomeComponent bento={SALUTE.BENTO_TEXT} />
		<TagsWelcomeComponent tags={SALUTE.TAGS_PERSONAL} />
	</div>
	<Background />
</section>