---

/// Components Imports
import Background from "@components/background.astro"
import SocialLinksComponent from "@components/islands/salute/social.links.astro"
import DataWelcomeComponent from "@/components/islands/salute/text.welcome.astro"
import TagsWelcomeComponent from "@/components/islands/salute/tags.astro"

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"

// Get locale selected
const { currentLocale } = Astro
const { SALUTE } = getHomeDataInternational({ currentLocale })

const insert = (arr: string | any[], index: any, ...newItem: any) => [
  // part of the array before the specified index
  ...arr.slice(0, index),
  // inserted item
  ...newItem,
  // part of the array after the specified index
  ...arr.slice(index)
]

// Get the current year
let year = new Date().getFullYear()
let arrTagsWithoutYear = SALUTE.TAGS_PERSONAL
const arrTags = insert(arrTagsWithoutYear, 2, `©${year}`)
---

<section 
	id="salute"
	class="w-full h-[95vh] flex mx-auto justify-center items-center align-middle rounded-b-[48px] bg-yellow-50/70 dark:bg-slate-700/30 text-black dark:text-white backdrop-blur-xl transition-all duration-100 ease-in-out"
>
	<div 
		id="content" 
		class="container w-full max-w-screen-2xl flex flex-col h-full mx-auto py-20 lg:py-14 justify-center items-center align-middle gap-y-12"
	>
		<DataWelcomeComponent work={SALUTE.TITLE_ONE} based={SALUTE.TITLE_TWO} />
		<TagsWelcomeComponent tags={arrTags} />
	</div>
	<div
		id="background"
		class="w-full h-full absolute flex overflow-hidden -pt-12 md:-pt-24 lg:-pt-32 left-0 right-0 bg-cover bg-no-repeat rounded-b-3xl justify-center items-center align-middle -z-10 transition-all duration-100 ease-in-out"
	>
		<Background
			class="w-full h-auto stroke-light dark:stroke-[#080808] stroke-[120]" 
		/>
	</div>
</section>