---
interface Props {
    work: string[];
    based: string[];
    image?: string;
}


const { work, based } = Astro.props
---

<div 
	class="w-[90%] md:w-[70%] lg:w-[60%] h-auto flex flex-col flex-grow flex-wrap justify-center items-center align-middle gap-y-12 z-50"
>
	<div
		id="text-work"
		class="w-full h-auto text-[57px] md:text-[72px] lg:text-[84px] xl:text-[60px] font-playfair italic flex flex-col flex-wrap relative font-black left-0 right-0 -bottom-28 lg:-bottom-32 justify-center items-center align-middle gap-x-8 lg:gap-x-12 leading-none transition-all duration-200 ease-in-out z-50"
	>
		<h1 
			id="title-salute-01"
			class="w-asuto flex justify-center items-center align-middle"
		>
			{ work[0] }
		</h1>
		<div 
			id="title-salute-02"
			class="inline-flex flex-wrap justify-center items-center align-middle gap-x-8"
		>
			<h1 
				class="flex font-medium text-[60px] md:text-[75px] lg:text-[86px] xl:text-[59px] font-bricolage pt-2 not-italic"
			>
				{ work[1] }
			</h1>
			<h1 id="title-salute-03">
				{ work[2] }
			</h1>
			<h1 
				id="title-salute-04"
				class="flex font-medium text-[60px] md:text-[75px] lg:text-[86px] xl:text-[59px] font-bricolage not-italic"
			>
				{ work[3] }
			</h1>
		</div>
	</div>
	<div
		id="image-personal"
		class="relative block overflow-hidden w-full h-auto aspect-square lg:w-[400px] lg:h-[390px] border-[6px] border-solid border-slate-500/60 rounded-[32px] bg-cover bg-no-repeat transition-all transform-gpu duration-200 ease-in-out"
	>
		<img 
			class="w-auto h-auto lg:w-[600px] lg:h-[590px] object-cover shadow-2xl transition-all duration-200 ease-in-out"
			src="/images/running.webp"
			alt="That's me!"
		/>
		<div class="w-[100%] h-[100%] bg-slate-700/60 bg-cover bg-no-repeat bg-center opacity-70 sepia-0" />
		<div class="glass" />
	</div>
	<div
		id="text-life"
		class="w-[60%] h-auto text-[44px] md:text-[62px] lg:text-[74px] xl:text-[45px] font-playfair italic flex flex-col flex-wrap relative font-bold left-0 right-0 bottom-2 text-center justify-center items-center align-middle gap-x-8 lg:gap-x-12 leading-none transition-all duration-200 ease-in-out z-50"
	>
		<h1 
			id="title-salute-01"
			class="font-medium font-bricolage not-italic"
		>
			{ based[0] }
		</h1>
		<h1>
			{ based[1] }
		</h1>
	</div>
</div>
