---

/// Components Imports
import RepositoryCard from "@components/cards/repository.astro"

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"
const { currentLocale } = Astro
const i18n = getHomeDataInternational({ currentLocale })
---

<section 
	id="projects"
	class="w-[100%] h-auto m-auto py-4 flex flex-col gap-y-24 justify-center 
	items-center align-middle uppercase overflow-x-hidden transition-all duration-200 ease-in-out"
>
	<header 
		id="marquee" 
		class="relative flex overflow-x-hidden"
	>
		<text class="py-12 animate-marquee whitespace-nowrap">
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
		</text>
		<text class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap">
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
		</text>
  	</header>
	<ul 
		id="list-works"
		class="w-auto h-auto grid grid-cols-3 gap-x-12 justify-center items-center align-middle"
	>
		{ i18n.PROJECTS.ITEMS.map((item: any, index) => (
			<li id="item">
				<RepositoryCard
					id={index}
					image={item.image} 
					title={item.title}
					tags={item.tags}
				/>
			</li>
		))}
	</ul>
</section>