---
/// Components Imports
import Background from "@components/background.astro"
import ButtonGlassLink from "@components/buttons/button.glass.astro"

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"

// Get locale selected
const { currentLocale } = Astro
const { SALUTE } = getHomeDataInternational({ currentLocale })

// Get the current year
let year = new Date().getFullYear()
---

<section 
	id="salute"
	class="w-full h-auto flex mx-auto justify-center items-center align-middle rounded-b-[48px] bg-yellow-400/70 dark:bg-slate-700/30 text-black dark:text-white backdrop-blur-xl transition-all duration-100 ease-in-out"
>
	<div 
		id="content" 
		class="w-full max-w-screen-2xl flex flex-col h-auto mx-auto py-20 md:py-24 lg:py-28 justify-center items-center align-middle gap-y-12"
	>
		<div class="w-[75%] h-auto flex flex-col justify-center items-center align-middle">
			<div
				id="text-work"
				class="w-full h-auto text-[84px] md:text-[98px] lg:text-[84px] xl:text-[86px] font-playfair italic flex flex-wrap relative font-bold left-0 right-0 -bottom-24 text-center justify-center items-center align-middle gap-x-12 leading-none transition-all duration-200 ease-in-out z-50"
			>
				<h1 id="title-salute-01">
					{ SALUTE.TITLE_ONE[0] }
				</h1>
				<h1 
					id="title-salute-02"
					class="flex font-medium font-bricolage text-[95px] pt-2 not-italic"
				>
					{ SALUTE.TITLE_ONE[1] }
				</h1>
				<h1 id="title-salute-03">
					{ SALUTE.TITLE_ONE[2] }
				</h1>
				<h1 
					id="title-salute-04"
					class="flex font-medium font-bricolage text-[95px] pt-2 not-italic"
				>
					{ SALUTE.TITLE_ONE[3] }
				</h1>
			</div>
			<div
				id="image-personal"
				class="relative block overflow-hidden w-[600px] h-[580px] md:w-[650px] md:h-[600px] lg:w-[600px] lg:h-[590px] border-[6px] border-solid border-slate-500/60 rounded-[32px] bg-cover bg-no-repeat transition-all transform-gpu duration-200 ease-in-out"
				>
				<img 
					class="w-[600px] h-[580px] md:w-[650px] md:h-[630px] lg:w-[600px] lg:h-[590px] object-cover shadow-2xl transition-all duration-200 ease-in-out"
					src="/images/running.webp"
					alt="That's me!"
				/>
				<div class="w-[100%] h-[100%] bg-slate-700/60 bg-cover bg-no-repeat bg-center opacity-70 sepia-0" />
				<div class="glass" />
			</div>
			<div
				id="text-life"
				class="w-full h-auto text-[84px] md:text-[98px] lg:text-[84px] xl:text-[86px] font-playfair italic flex flex-wrap flex-col relative left-0 right-0 bottom-[140px] justify-center items-end align-middle gap-x-12 leading-tight transition-all duration-200 ease-in-out z-50"
			>
				<h1 id="title-salute-01">
					{ SALUTE.TITLE_TWO[0] }
				</h1>
				<h1 class="flex font-bold font-bricolage not-italic">
					{ SALUTE.TITLE_TWO[1] }
				</h1>
			</div>
		</div>
		<ul 
			id="tags"
			class="w-full h-full inline-flex m-auto rounded-xl justify-between items-center align-middle text-center gap-y-2 z-10"
		>
			{ Array.from(SALUTE.TAGS_PERSONAL).map((tag, index) => (
				<li 
					id={`tag-persona-${index}`}
					class="text-[18px] font-medium text-center"
				>
					{ tag }
				</li>
			))}
		</ul>
		<ul
			id="grid-links"
			class="w-full h-full grid grid-cols-4 auto-rows-auto auto-cols-auto gap-x-1 gap-y-4 justify-between items-center align-middle z-10"
		>
			<ButtonGlassLink title="Github" number={1} link="https://github.com/maopadev" />
			<ButtonGlassLink title="Threads" number={2} link="" />
			<ButtonGlassLink title="Behance" number={3} link="" />
		</ul>
		<div>

		</div>
		<div
			id="year"
			class="w-full h-full flex flex-col m-auto rounded-xl justify-center items-center align-middle text-center gap-y-2 z-10 col-span-5 lg:col-span-2"
		>
			<p class="text-[18px] lg:text-[24px] font-semibold text-center">
				&copy;{ year }
			</p>
		</div>
	</div>
	<div 
		id="background"
		class="w-full h-full absolute flex overflow-hidden -pt-12 md:-pt-24 lg:-pt-32 left-0 right-0 bg-cover bg-no-repeat rounded-b-3xl justify-center items-center align-middle -z-10"
	>
		<Background
			class="w-full h-auto stroke-thunder dark:stroke-[#080808] stroke-[120]" 
		/>
	</div>
</section>