---
/// Components Imports
import Background from "@components/background.astro"
import ButtonGlassLink from "@components/buttons/button.glass.astro"

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"

// Get locale selected
const { currentLocale } = Astro
const { SALUTE } = getHomeDataInternational({ currentLocale })

// Get the current year
let year = new Date().getFullYear()
---

<section 
	id="salute"
	class="w-full h-auto flex mx-auto justify-center items-center align-middle rounded-b-[48px] bg-slate-50 dark:bg-slate-700/30 text-black dark:text-white backdrop-blur-xl transition-all duration-100 ease-in-out"
>
	<div 
		id="content" 
		class="w-[85%] max-w-screen-lg flex flex-col h-auto mx-auto py-20 md:py-24 lg:py-28 justify-center items-center align-middle gap-y-12"
	>
		<div
			id="text"
			class="w-full h-auto flex flex-col m-auto py-2 justify-center items-center align-middle text-center z-10"
		>
			<h1 
				class="text-[84px] md:text-[98px] lg:text-[115px] font-bricolage text-center italic w-full h-auto flex justify-center items-center align-middle transition-all duration-200 ease-in-out"
			>
				<strong class="font-black">
					{ SALUTE.TITLE_ONE[0] }
				</strong>
				{ SALUTE.TITLE_ONE[1] }
			</h1>
		</div>
		<ul 
			id="tags"
			class="w-full h-full inline-flex m-auto rounded-xl justify-between items-center align-middle text-center gap-y-2 z-10"
		>
			{ Array.from(SALUTE.TAGS_PERSONAL).map((tag, index) => (
				<li 
					id={`tag-persona-${index}`}
					class="text-[18px] font-medium text-center"
				>
					{ tag }
				</li>
			))}
		</ul>
		<ul
			id="grid-links"
			class="w-full h-full grid grid-cols-4 auto-rows-auto auto-cols-auto gap-x-1 gap-y-4 justify-between items-center align-middle z-10"
		>
			<ButtonGlassLink title="Github" number={1} link="https://github.com/maopadev" />
			<ButtonGlassLink title="Threads" number={2} link="" />
			<ButtonGlassLink title="Behance" number={3} link="" />
		</ul>
		<div>

		</div>
		<div
			id="year"
			class="w-full h-full flex flex-col m-auto rounded-xl justify-center items-center align-middle text-center gap-y-2 z-10 col-span-5 lg:col-span-2"
		>
			<p class="text-[18px] font-medium text-center">
				&copy;{ year }
			</p>
		</div>
	</div>
	<div 
		id="background"
		class="w-full h-full absolute flex overflow-hidden -pt-12 md:-pt-24 lg:-pt-32 left-0 right-0 bg-cover bg-no-repeat rounded-b-3xl justify-center items-center align-middle -z-10"
	>
		<Background
			class="w-full h-auto stroke-[#FCFABC] dark:stroke-[#080808] stroke-[120]" 
		/>
	</div>
</section>