---

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"
const { currentLocale } = Astro
const i18n = getHomeDataInternational({ currentLocale })
---

<section 
	id="projects"
	class="w-[100%] h-auto m-auto py-4 flex flex-col gap-y-24 justify-center 
	items-center align-middle uppercase overflow-x-hidden transition-all duration-100 ease-in-out"
>
	<header class="relative flex overflow-x-hidden">
		<text class="py-12 animate-marquee whitespace-nowrap">
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
		</text>
		<text class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap">
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
			<span class="text-[44px] font-bold text-slate-500/60 mx-4">{ i18n.PROJECTS.TITLE } ///</span>
		</t>
  	</header>
</section>