---
---

<section 
	id="projects"
	class="container w-[100%] h-full m-auto flex flex-col justify-center items-start align-middle 
	transition-all duration-100 ease-in-out"
>
	<header>
		Projects
	</header>
</section>