---
---

<section 
	id="about"
	class="container w-screen h-auto py-16 md:py-20 lg:py-26 relative flex flex-col gap-y-12 justify-center 
	items-center align-middle transition-all duration-100 ease-in-out bg-transparent backdrop-blur-3xl"
>
	<div
		class="w-[85%] max-w-[900px] h-auto mx-auto flex flex-col gap-y-18 justify-center items-center 
		align-middle z-10"
	>
		<header class="text-[22px] font-termina-bold">
			Skills
		</header>
	</div>
</section>