---

/// Components Imports
import RepositoryCard from "@/components/islands/repo/card.astro"
import MarqueeSlideComponent from "@components/islands/repo/marquee.astro"

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"
const { currentLocale } = Astro
const { PROJECTS } = getHomeDataInternational({ currentLocale })
---

<section 
	id="projects"
	class="w-[100%] h-auto m-auto flex flex-col gap-y-24 justify-center items-center align-middle overflow-x-hidden transition-all duration-200 ease-in-out"
>
	<MarqueeSlideComponent title={PROJECTS.TITLE} />
	<ul 
		id="list-works"
		class="w-auto h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-rows-auto auto-rows-auto gap-8 md:gap-y-12 lg:gap-y-24 pb-32 md:pb-36 lg:pb-44 justify-center items-center align-middle transform transition-all duration-200 ease-in-out"
	>
		{ PROJECTS.ITEMS.map(( mockup: any, index) => (
			<li 
				id={`repo-item-${index + 1}`}
				class="w-auto h-auto flex relative lg:odd:top-12 top-0 left-0 right-0 justify-center items-center align-middle z-10 shadow-2xl hover:-translate-x-2 hover:-translate-y-2 transform transition-all duration-200 ease-in-out rounded-3xl bg-slate-700/60"
			>
				<RepositoryCard {mockup} />
			</li>
		))}
	</ul>
</section>