---

/// Components Imports
import RepositoryCard from "@/components/islands/repo/card.astro"
import MarqueeSlideComponent from "@components/islands/repo/marquee.astro"

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"
const { currentLocale } = Astro
const { PROJECTS } = getHomeDataInternational({ currentLocale })
---

<section 
	id="projects"
	class="w-[100%] h-auto m-auto py-4 flex flex-col gap-y-24 justify-center items-center align-middle overflow-x-hidden transition-all duration-200 ease-in-out"
>
	<MarqueeSlideComponent title={PROJECTS.TITLE} />
	<ul 
		id="list-works"
		class="w-auto h-auto grid grid-cols-3 gap-12 gap-y-24 justify-center items-center align-middle"
	>
		{ PROJECTS.ITEMS.map(( mockup: any, index) => (
			<li 
				id={`repo-item-${index + 1}`}
				class="w-auto h-auto flex relative lg:odd:top-12 top-0 left-0 right-0 justify-center items-center align-middle z-10 shadow-2xl"
			>
				<RepositoryCard {mockup} />
			</li>
		))}
	</ul>
</section>