---
interface Props {
    title: string;
}

const { title } = Astro.props;
---
<header 
	id="marquee" 
	class="w-auto h-auto relative top-0 left-0 right-0 flex overflow-x-hidden justify-center items-center align-middle z-0"
>
	<ul class="w-auto py-2 md:py-4 lg:py-6 animate-marquee whitespace-nowrap z-0 uppercase">
        { Array.from({ length: 5 }).map((_) => (
            <span class="font-climate text-[5rem] md:text-[6rem] lg:text-[7rem] xl:text-[8rem] font-normal tracking-wide text-slate-300/60 dark:text-slate-700/80 px-4">
                { title } ///
            </span>
        ))}
	</ul>
	<text class="w-auto absolute top-0 py-2 md:py-4 lg:py-6 animate-marquee2 whitespace-nowrap z-10 uppercase">
		{ Array.from({ length: 5 }).map((_) => (
            <span class="font-climate text-[5rem] md:text-[6rem] lg:text-[7rem] xl:text-[8rem] font-normal tracking-wide text-slate-300/60 dark:text-slate-700/80 px-4">
                { title } ///
            </span>
        ))}
	</text>
</header>