---
interface Props {
    title: string;
}

const { title } = Astro.props;
---
<header 
	id="marquee" 
	class="w-auto h-auto relative top-0 left-0 right-0 flex overflow-x-hidden justify-center items-center align-middle z-0"
>
	<ul class="w-auto py-2 md:py-4 lg:py-6 animate-marquee whitespace-nowrap z-0 uppercase">
        { Array.from({ length: 5 }).map((_) => (
            <span class="text-[50px] md:text-[54px] lg:text-[57px] xl:text-[62px] font-black text-slate-500/60 px-4">
                { title } ///
            </span>
        ))}
	</ul>
	<text class="w-auto absolute top-0 py-2 md:py-4 lg:py-6 animate-marquee2 whitespace-nowrap z-10 uppercase">
		{ Array.from({ length: 5 }).map((_) => (
            <span class="text-[50px] md:text-[46px] lg:text-[50px] xl:text-[62px] font-bold text-slate-500/60 px-4">
                { title } ///
            </span>
        ))}
	</text>
</header>