@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap");

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Roxborough Medium";
  src: local("Roxborough Medium"), local("roxborough Medium"), local("roxborough-Medium"),
    local("Roxborough-Medium"), url("../fonts/roxborough/Medium.otf");
}

@font-face {
  font-family: "Roxborough Bold";
  src: local("Roxborough Bold"), local("roxborough bold"), local("roxborough-bold"),
    local("Roxborough-Bold"), url("../fonts/roxborough/bold.otf");
}

:root {
  --font-body: "Bricolage Grotesque", sans-serif;
  --color-theme-1: #096162;
  --color-theme-2: #4075a6;
  --color-text: rgba(0, 0, 0, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  background-color: #1e1e1e;
}
