:root {
	--color: #5d5d5d75;
	--color-2: #b39e7925;
	--color-3: #ffffff15;
}

.frame {
	border: 4px solid var(--color);
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
}

.glass {
	background: linear-gradient(
		90deg,
		transparent,
		transparent 0.75rem,
		var(--color-3) 2rem
	);
	background-size: 2.5rem 100%;
	height: 100%;
	width: 80%;
	backdrop-filter: blur(.65rem);
	filter: contrast(1.35);
	position: absolute;
	z-index: 49;
	inset: 0;
}