---
/// Components Reactives
import Navbar from '@components/navbar/index.astro';
import BaseHead from '@components/base.astro';
import Footer from '@components/footer.astro';

/// Styles
import '@/app.scss';

/// Astro Props
interface Props {
  title: string,
  description?: string,
}

const { currentLocale } = Astro;
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={ currentLocale }>
	<head>
		<BaseHead title={title} 
			description={description || ''} 
		/>
	</head>
	<body 
		class="relative w-screen min-h-screen overflow-x-hidden bg-light dark:bg-dark justify-center items-center align-middle transition-all duration-200 ease-in-out"
	>	
		<!-- Navbar with Dark Mode -->
        <Navbar />
		<!-- Content -->
		<main 
			id="content"
			class="w-[100%] h-auto flex flex-col relative top-0 left-0 right-0 flex-grow gap-y-4 md:gap-y-10 lg:gap-y-18 justify-center items-center align-middle transition-all duration-200 ease-in-out"
		>
        	<slot />
		</main>
		<!-- Footer -->
		<Footer />
    </body>
</html>