---
/// Components Reactives
import SidebarDeskComponent from '@components/navigation/desktop.astro';
import LogoNavbarComponent from '@components/navigation/navbar.astro';
import BaseHead from '@components/base.astro';
import Footer from '@components/navigation/footer.astro';

/// Styles
import '@styles/app.css';

/// Astro Props
interface Props {
  title: string,
  description?: string,
}

const { currentLocale } = Astro;
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={ currentLocale }>
	<head>
		<BaseHead title={title} 
			description={description || ''} 
		/>
	</head>
	<body 
		class="relative w-screen min-h-screen overflow-x-hidden bg-[#1E1E1E] justify-center items-center 
		align-middle transition-all duration-100 ease-in-out"
	>
        <LogoNavbarComponent />
		<div 
			id="container"
			class="w-[85%] max-w-screen-xl h-auto flex flex-row relative top-36 left-0 right-0 gap-x-24
			justify-center m-auto transition-all duration-100 ease-in-out text-white"
		>
			<SidebarDeskComponent />
        	<slot />
		</div>
		<Footer />
    </body>
</html>