---
/// Components Reactives
import SidebarDeskComponent from '@components/navigation/desktop.astro';
import LogoNavbarComponent from '@components/navigation/navbar.astro';
import BaseHead from '@components/base.astro';
import Footer from '@components/navigation/footer.astro';

/// Consts
import { SITE_TITLE, SITE_DESCRIPTION } from '@hooks/consts.ts';

/// Styles
import '@styles/app.css';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} 
				  description={SITE_DESCRIPTION} 
		/>
	</head>
	<body 
		class="relative w-screen min-h-screen overflow-x-hidden bg-[#1E1E1E] justify-center items-center 
		align-middle transition-all duration-100 ease-in-out"
	>
        <LogoNavbarComponent />
		<div 
			id="container"
			class="w-[85%] max-w-screen-xl h-auto flex flex-row relative top-36 left-0 right-0 gap-x-24
			justify-center m-auto transition-all duration-100 ease-in-out text-white"
		>
			<SidebarDeskComponent />
        	<slot />
		</div>
		<Footer />
    </body>
</html>