---

interface Props {
    contact: string[];
	cv: string[];
}

import ContactIcon from "@components/icons/contact.astro"

const { contact, cv } = Astro.props

---

<div
	id="bento-contact-container"
	class="w-auto h-auto flex flex-col justify-center items-center align-middle gap-y-8 transition-all duration-200 ease-in-out"
>
	<div
		id="bento-contact"
		class="flex w-full md:max-w-[300px] lg:max-w-[400px] h-auto flex-col gap-x-8 gap-y-8 p-12 rounded-3xl max-mdd:max-w-none max-md:p-8 bg-slate-50/30 dark:bg-slate-900/30 backdrop-blur-[98px] justify-start items-start align-middle transition-all duration-200 ease-in-out"
	>
		<section>
			<ContactIcon 
				class="w-auto h-auto stroke-[4] stroke-leaf dark:stroke-white transition-all duration-200 ease-in-out" 
			/>
			<h1
				id="bento-contact-title"
				class="w-auto h-auto flex flex-grow flex-wrap relative left-0 right-0 justify-center items-center align-middle gap-x-4 leading-tight transition-all duration-200 ease-in-out z-50 text-[24px] md:text-[26px] lg:text-[30px] font-semibold text-black dark:text-white"
			>
				{ contact[0] }
			</h1>
		</section>
		<button
			name="contact"
			aria-label="Send me a email!"
			class="w-full h-auto text-[20px] md:text-[22px] lg:text-[24px] font-medium inline-flex flex-wrap relative left-0 right-0 justify-center items-center align-middle px-4 p-[1rem] bg-leaf text-white rounded-3xl leading-tight duration-200 ease-in-out z-50 hover:-translate-x-1 hover:-translate-y-1 transition-transform"
		>
			{ contact[1] }
		</button>
	</div>
	<div
		id="bento-contact-cv"
		class=""
	>
		<a
			href={cv[1]} 
			target="_blank" 
			rel="noopener noreferrer"
			class={`w-auto h-auto flex p-[0.8rem] px-16 rounded-full justify-center items-center align-middle border-2 border-black/80 dark:border-slate-700 hover:border-transparent hover:bg-thunder hover:dark:bg-accent-two hover:-translate-x-1 hover:-translate-y-1 hover:text-black transition-all transform-gpu duration-300 ease-in-out text-[20px] md:text-[22px] lg:text-[24px] text-center font-bold leading-tight`}
			aria-label="Boton de descarga de CV"
		>
			{cv[0]}
		</a>
	</div>
</div>