---
/// Components Imports
import AboutDataTextComponent from "@components/islands/about/text.astro"

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"

// Get locale selected
const { currentLocale } = Astro
const { ABOUT } = getHomeDataInternational({ currentLocale })
---

<section 
	id="about"
	class="container w-screen h-auto py-12 md:py-10 lg:py-18 pb-12 lg:pb-16 relative flex flex-col gap-y-12 justify-center 
	items-center align-middle transition-all duration-200 ease-in-out transform-gpu text-black dark:text-white"
>
	<div
		id="container"
		class="w-full max-w-screen-2xl h-auto mx-auto flex flex-col gap-y-20 justify-center items-center 
		align-middle z-10"
	>
		<header 
			class="w-auto h-auto flex flex-col lg:flex-row gap-x-12 gap-y-4 lg:gap-y-0 justity-center items-center align-middle"
		>
			<h1 class="w-full text-[40px] md:text-[44px] lg:text-[52px] text-center">
				✌️
			</h1>
		</header>
		<AboutDataTextComponent text={ABOUT.TEXT} />
	</div>
</section>