---
interface Props {
    text: string[][];
}

const { text } = Astro.props;
---

<div 
	id="about"
	class="box-border w-full h-auto flex flex-col justify-center items-center align-middle gap-y-24"
>
	<div 
	    id="about-text-intro"
		class="w-full max-w-[75%] h-auto flex relative left-0 top-0 text-[14px] lg:text-[16px] text-start justify-start items-center align-middle text-wrap font-semibold"
	>
		<p class="w-full md:w-[80%] lg:w-[75%] h-auto items-center align-middle text-wrap">
			{ text[0][0] }
			<strong class="italic px-1">
				{ text[0][1] }
			</strong>
			{ text[0][2] }
		</p>
	</div>
	<div
		id="about-text-cooperate"
		class="w-full max-w-[75%] h-auto flex relative left-0 top-0 text-[14px] lg:text-[16px] text-end justify-end items-center align-middle"
	>
		<p class="w-full md:w-[60%] lg:w-[55%] h-auto items-center align-middle text-wrap font-semibold text-black/60 dark:text-slate-300">
			{ text[1] }
		</p>
	</div>
	<div
		id="about-text-design"
		class="w-full max-w-[75%] h-auto flex relative left-0 top-0 text-[14px] lg:text-[16px] text-center justify-center items-center align-middle"
	>
		<p class="w-full md:w-[60%] lg:w-[55%] h-auto items-center align-middle text-wrap font-semibold text-black/60 dark:text-slate-300">
			{ text[2] }
		</p>
	</div>
</div>